$siteBackground: #F9F9F9;
$fontColor: #011627;
$primary: #2EC4B6;

.header {
    min-height: 5rem;
    padding: 0 8vw;
    background-color: $siteBackground;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    a {
        text-decoration: none;
        color: $fontColor;
        padding: .6em 1em;
        border-radius: 1rem;
        font-size: 90%;
    }
    a:last-child {
        color: $siteBackground;
        background-color: $primary;
    }
}

.logo {
    text-decoration: none;
    color: $fontColor;
}